@keyframes pulsate {
  0% {
    transform: scale(1); }
  7% {
    transform: scale(1.05); }
  20% {
    transform: scale(1); }
  27% {
    transform: scale(1.05); }
  40% {
    transform: scale(1); }
  47% {
    transform: scale(1.05); }
  60% {
    transform: scale(1); }
  93% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100rem); }
  50% {
    opacity: 0.2; }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 45%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media only screen and (max-width: 37.5em) {
    body {
      padding: 0; } }

body {
  font-family: 'Lato';
  font-weight: 400;
  font-size: 1.6rem;
  color: #eee2ce;
  line-height: 1.7; }

.heading-primary {
  color: #faf9f9;
  font-family: 'Kaushan Script', cursive;
  display: flex;
  flex-direction: column; }
  .heading-primary--main {
    font-size: 12rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.25;
    animation-name: moveInLeft;
    animation-duration: 0.7s;
    animation-timing-function: ease-out; }
    @media only screen and (max-width: 75em) {
      .heading-primary--main {
        font-size: 10rem; } }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 8rem;
        margin: 2rem 0; } }
  .heading-primary--sub {
    font-size: 5rem;
    text-align: right;
    opacity: 0;
    animation-name: moveInRight;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        font-size: 2.5rem;
        font-family: 'Lato';
        font-weight: 100;
        text-transform: uppercase; } }
    @media only screen and (max-width: 350px) {
      .heading-primary--sub {
        display: none; } }

.heading-secondary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto; }
  .heading-secondary strong {
    color: #7c4c2a;
    font-weight: 400; }
  .heading-secondary--main {
    color: #512d1f;
    text-align: center;
    margin: 4rem 0 1.5rem;
    font-size: 6rem;
    font-weight: 700; }
    @media only screen and (max-width: 56.25em) {
      .heading-secondary--main {
        font-size: 5rem; } }
    @media only screen and (max-width: 37.5em) {
      .heading-secondary--main {
        font-size: 4.5rem; } }
  .heading-secondary--sub {
    color: #512d1f;
    text-align: center;
    margin: 3rem 5rem;
    font-size: 3rem;
    font-weight: 300;
    max-width: 1500px;
    align-self: center; }
    @media only screen and (max-width: 75em) {
      .heading-secondary--sub {
        margin: 3rem 10rem; } }
    @media only screen and (max-width: 56.25em) {
      .heading-secondary--sub {
        margin: 3rem;
        font-size: 2.5rem; } }
    .heading-secondary--sub-big {
      color: #512d1f;
      font-size: 5rem;
      font-weight: 400;
      text-align: center; }

.heading-tertiary {
  display: flex;
  flex-direction: column;
  color: #eee2ce;
  text-align: center; }
  .heading-tertiary--main {
    margin: 4rem;
    font-size: 7rem;
    font-weight: 700;
    text-transform: uppercase; }
    @media only screen and (max-width: 56.25em) {
      .heading-tertiary--main {
        font-size: 6rem; } }
    @media only screen and (max-width: 37.5em) {
      .heading-tertiary--main {
        font-size: 5rem;
        margin: 2rem; } }
  .heading-tertiary--sub {
    margin: 0 10rem;
    font-size: 3rem;
    font-weight: 300;
    max-width: 1800px;
    align-self: center; }
    @media only screen and (max-width: 75em) {
      .heading-tertiary--sub {
        margin: 0 3rem; } }
    @media only screen and (max-width: 56.25em) {
      .heading-tertiary--sub {
        font-size: 2.5rem; } }
    .heading-tertiary--sub-big {
      font-size: 5rem;
      font-weight: 300;
      text-align: center; }
      @media only screen and (max-width: 75em) {
        .heading-tertiary--sub-big {
          margin: 0 3rem; } }
      @media only screen and (max-width: 56.25em) {
        .heading-tertiary--sub-big {
          margin: 0 3rem;
          font-size: 4rem; } }
      @media only screen and (max-width: 37.5em) {
        .heading-tertiary--sub-big {
          margin: 0 3rem;
          font-size: 3rem; } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-huge {
  margin-top: 12rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-xsmall {
  margin-top: 1rem !important; }

.our-coffee__about {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .our-coffee__about {
      padding: 5rem 0rem; } }

.our-coffee__logo {
  width: 20rem;
  height: 20rem;
  opacity: 0.7; }

.our-coffee .heading-secondary {
  opacity: 0.9; }

.feature-box__item {
  cursor: pointer;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-image: radial-gradient(rgba(238, 226, 206, 0.7), rgba(223, 208, 182, 0.6));
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2.5rem;
  box-shadow: 0 0 6rem 2rem rgba(0, 0, 0, 0.2);
  position: relative;
  transition: transform 0.3s; }
  .feature-box__item:hover {
    animation: pulsate 3s infinite; }
  .feature-box__item--first {
    animation: pulsate 4s infinite; }
  .feature-box__item--first::before {
    content: 'Click me!';
    font-family: 'Kaushan Script', cursive;
    width: 150%;
    height: auto;
    position: absolute;
    top: -6rem;
    left: -3rem;
    z-index: 100;
    font-size: 3rem;
    color: white;
    transform: rotate(-15deg); }

.feature-box__icon {
  width: 5rem;
  height: 5rem;
  fill: #faf9f9; }

.menu__coffee {
  display: flex;
  justify-content: center;
  color: #512d1f;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .menu__coffee {
      flex-direction: column; } }

.menu__list {
  margin: 5rem 10rem;
  align-self: center; }

.menu__price {
  font-size: 3rem;
  display: flex;
  margin: 1rem 0 1rem 5rem; }

.menu__item {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0; }
  .menu__item:not(:last-child) {
    border-bottom: dotted rgba(124, 76, 42, 0.2) 2px; }
  .menu__item--name {
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 2.5rem; }
    @media only screen and (max-width: 37.5em) {
      .menu__item--name {
        font-size: 2.1rem; } }
  .menu__item--note {
    color: #7c4c2a;
    font-size: 2rem;
    font-weight: 300; }
    @media only screen and (max-width: 37.5em) {
      .menu__item--note {
        font-size: 1.8rem; } }

.menu__box {
  display: flex;
  flex-direction: column; }

.section-menu-cake .menu__item--note {
  color: #dfd0b6;
  filter: brightness(70%); }

.localization {
  display: flex;
  flex-direction: column; }
  .localization__box {
    display: flex;
    justify-content: center;
    padding: 4rem; }
  .localization__photo {
    margin: 0 3rem;
    flex-basis: 70%;
    height: 50rem;
    max-width: 800px;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
    transition: all 0.3s;
    position: relative; }
    .localization__photo:hover .localization__map--icon-2 {
      visibility: visible;
      opacity: 1; }
    .localization__photo:hover > .localization__img {
      filter: brightness(70%); }
    @media only screen and (max-width: 56.25em) {
      .localization__photo {
        display: none; } }
  .localization__img {
    background-image: url(https://scontent.fktw1-1.fna.fbcdn.net/v/t31.0-8/30420701_731643797179745_4974108034297925655_o.jpg?_nc_cat=100&_nc_sid=dd9801&_nc_ohc=l2o7gTPqiO0AX8Ty0S0&_nc_ht=scontent.fktw1-1.fna&oh=65a47c93c7b3bd4f3f9975f49d7734df&oe=5E919E39);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center; }
  .localization__paragraph {
    color: #7c4c2a;
    font-size: 4rem;
    font-weight: 300;
    margin: 4rem;
    text-align: center; }
    @media only screen and (max-width: 37.5em) {
      .localization__paragraph {
        margin: 4rem 2rem;
        font-size: 3rem; } }
  .localization__map {
    position: relative;
    margin: 0 5rem;
    flex: 0 0 20%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.1); }
    @media only screen and (max-width: 56.25em) {
      .localization__map {
        height: 400px;
        flex: 0 0 40%; } }
    @media only screen and (max-width: 37.5em) {
      .localization__map {
        flex: 0 0 100%; } }
    .localization__map:hover > .localization__map--text {
      transform: translateY(-50vh);
      opacity: 0; }
    .localization__map:hover > .localization__map--icon-1 {
      transform: translateY(50vh);
      opacity: 0; }
    .localization__map:hover > .localization__map--icon-2 {
      visibility: visible;
      opacity: 1; }
    .localization__map:hover::before {
      filter: blur(0) brightness(80%);
      cursor: pointer; }
    .localization__map::before {
      background-image: url(../img/l-map.jpg);
      background-size: cover;
      background-position: bottom;
      filter: blur(3px);
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: ease-in-out all 0.3s; }
    .localization__map--icon-1 {
      position: relative;
      top: 0;
      left: 0;
      fill: #512d1f;
      transition: all 0.4s; }
    .localization__map--icon-2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 5;
      fill: #ffffff;
      visibility: hidden;
      opacity: 0;
      transition: 0.5s;
      cursor: pointer; }
    .localization__map--text {
      position: relative;
      font-size: 4rem;
      font-weight: 700;
      color: #7c4c2a;
      transition: ease-out all 0.5s;
      overflow: hidden; }

.booking {
  display: flex;
  justify-content: center;
  margin: 4rem 0; }
  @media only screen and (max-width: 56.25em) {
    .booking {
      flex-direction: column; } }

.form__select {
  font-size: 1.5rem;
  padding: 2rem 3rem;
  background-color: transparent;
  font-family: inherit;
  border: none;
  color: #faf9f9;
  display: block;
  transition: 0.3s all;
  margin: 6rem 4rem;
  border: #dfd0b6 1px solid;
  border-radius: 10px;
  width: 30rem;
  letter-spacing: 1px;
  align-self: center; }
  @media only screen and (max-width: 75em) {
    .form__select {
      margin: 2rem; } }

.form:focus {
  outline: none;
  color: #eee2ce; }

.header {
  height: 80vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(to bottom, rgba(81, 45, 31, 0.7), rgba(124, 76, 42, 0.6)), url(https://cdn.website.dish.co/media/c3/cf/828238/Coffee-City-27983512-683420318668760-5376203394461977088-o.jpg);
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 85%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 100%, 50% 90%, 0 100%, 0 0); }
  @media only screen and (max-width: 46.875em) {
    .header {
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0); } }
  @media only screen and (max-width: 37.5em) {
    .header {
      height: 60vh; } }
  @media only screen and (max-width: 350px) {
    .header {
      height: 50vh; } }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 80%;
    max-width: 850px;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 37.5em) {
      .header__text-box {
        top: 30%; } }

.footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 15;
  color: #ccc;
  text-transform: uppercase;
  margin: 2rem;
  font-size: 2rem;
  font-weight: 300;
  display: block;
  width: 100%;
  text-align: center; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      font-size: 1.4rem; } }

.navbar__list {
  width: 90%;
  display: flex;
  justify-content: center;
  list-style: none;
  position: absolute;
  top: 6rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20; }
  @media only screen and (max-width: 1820px) {
    .navbar__list {
      top: 8rem;
      width: 95%; } }
  @media only screen and (max-width: 56.25em) {
    .navbar__list {
      display: none; } }

.navbar__item {
  margin: 1rem 2rem;
  text-transform: uppercase;
  font-weight: 300;
  transition: all 0.4s;
  cursor: pointer;
  opacity: 0.6;
  padding: 2rem;
  font-size: 2.3rem; }
  @media only screen and (max-width: 1820px) {
    .navbar__item {
      font-size: 2rem; } }
  @media only screen and (max-width: 1450px) {
    .navbar__item {
      font-size: 1.8rem;
      padding: 2rem 1rem;
      margin: 1rem; } }
  .navbar__item:link, .navbar__item:visited {
    color: white;
    text-decoration: none; }
  .navbar__item:hover {
    font-size: 3.4rem;
    opacity: 0.9; }
    @media only screen and (max-width: 1820px) {
      .navbar__item:hover {
        font-size: 2.8rem; } }
    @media only screen and (max-width: 1450px) {
      .navbar__item:hover {
        font-size: 2.4rem; } }

.section-our-coffee {
  background-image: linear-gradient(to bottom, rgba(204, 204, 204, 0.6), #faf9f9);
  margin-top: -10vh;
  padding: 10rem 0 30rem; }
  @media only screen and (max-width: 46.875em) {
    .section-our-coffee {
      margin-top: -5rem; } }
  @media only screen and (max-width: 37.5em) {
    .section-our-coffee {
      padding: 10rem 0 20rem; } }

.section-features {
  -webkit-clip-path: polygon(100% 10vh, 100% 100%, 0 100%, 0 10vh, 50% 0);
  clip-path: polygon(100% 10vh, 100% 100%, 50% 85%, 0 100%, 0 10vh, 50% 0);
  margin-top: -15vh;
  padding-bottom: 15rem;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(to bottom, rgba(124, 76, 42, 0.3), rgba(81, 45, 31, 0.3)), url(../img/sample-4.jpg);
  background-size: cover;
  background-position: center;
  padding: 20rem 10rem 35rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  @media only screen and (max-width: 46.875em) {
    .section-features {
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0); } }
  @media only screen and (max-width: 37.5em) {
    .section-features {
      padding: 10rem 0; } }

.section-menu-coffee {
  background-image: linear-gradient(to bottom, rgba(204, 204, 204, 0.6), #faf9f9);
  margin-top: -20vh;
  padding: 20rem 0 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media only screen and (max-width: 46.875em) {
    .section-menu-coffee {
      margin: 0;
      padding: 10rem 0 30rem; } }

.section-menu-cake {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), linear-gradient(to bottom, rgba(124, 76, 42, 0.7), rgba(81, 45, 31, 0.5)), url(../img/sample-1.jpg);
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(100% 10vh, 100% 100%, 50% 90%, 0 100%, 0 10vh, 50% 0);
  -webkit-clip-path: polygon(100% 10%, 100% 100%, 50% 90%, 0 100%, 0 10%, 50% 0);
  clip-path: polygon(100% 10%, 100% 100%, 50% 90%, 0 100%, 0 10%, 50% 0);
  margin-top: -15vh;
  padding: 10rem 2rem 30rem;
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 56.25em) {
    .section-menu-cake {
      padding: 10rem 5rem; } }
  @media only screen and (max-width: 46.875em) {
    .section-menu-cake {
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0); } }
  @media only screen and (max-width: 37.5em) {
    .section-menu-cake {
      padding: 7rem 0; } }

.section-about {
  background-image: linear-gradient(to bottom, rgba(204, 204, 204, 0.6), #faf9f9);
  margin-top: -15vh;
  padding: 15rem 0 30rem; }
  @media only screen and (max-width: 46.875em) {
    .section-about {
      margin-top: 0;
      padding: 10rem 0 30rem; } }

.section-booking {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), linear-gradient(to bottom, rgba(124, 76, 42, 0.5), rgba(81, 45, 31, 0.4)), url(../img/sample-2.jpg);
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(100% 10vh, 100% 100%, 0 100%, 0 10vh, 50% 0);
  clip-path: polygon(100% 10vh, 100% 100%, 0 100%, 0 10vh, 50% 0);
  margin-top: -15vh;
  padding: 15rem 15rem 30rem;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .section-booking {
      padding: 10rem 5rem; } }
  @media only screen and (max-width: 46.875em) {
    .section-booking {
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0); } }
  @media only screen and (max-width: 37.5em) {
    .section-booking {
      padding: 10rem 2rem; } }
