@charset "UTF-8";
@keyframes pulsate {
  0% {
    transform: scale(1); }
  7% {
    transform: scale(1.05); }
  20% {
    transform: scale(1); }
  27% {
    transform: scale(1.05); }
  40% {
    transform: scale(1); }
  47% {
    transform: scale(1.05); }
  60% {
    transform: scale(1); }
  93% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }

body {
  font-family: 'Lato';
  font-weight: 400;
  font-size: 1.6rem;
  color: #eee2ce;
  line-height: 1.7; }

.heading-primary {
  color: #faf9f9;
  font-family: 'Kaushan Script', cursive;
  display: flex;
  flex-direction: column;
  margin: 4rem; }
  .heading-primary--main {
    font-size: 10rem;
    text-transform: uppercase; }
  .heading-primary--sub {
    font-size: 5rem;
    text-align: right; }

.heading-secondary {
  display: flex;
  flex-direction: column; }
  .heading-secondary strong {
    color: #7c4c2a;
    font-weight: 400; }
  .heading-secondary--main {
    color: #512d1f;
    text-align: center;
    margin: 1rem;
    font-size: 7rem;
    font-weight: 700; }
  .heading-secondary--sub {
    color: #512d1f;
    text-align: center;
    margin: 3rem 20rem;
    font-size: 3rem;
    font-weight: 300; }
    .heading-secondary--sub-big {
      color: #512d1f;
      font-size: 5rem;
      font-weight: 400;
      text-align: center; }

.heading-tertiary {
  display: flex;
  flex-direction: column;
  color: #eee2ce; }
  .heading-tertiary--main {
    margin: 4rem;
    font-size: 7rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase; }
  .heading-tertiary--sub {
    margin: 0 10rem;
    font-size: 3rem;
    font-weight: 300;
    text-align: center; }
    .heading-tertiary--sub-big {
      font-size: 5rem;
      font-weight: 300;
      text-align: center; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-huge {
  margin-top: 12rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-xsmall {
  margin-top: 1rem !important; }

.our-coffee__about {
  padding: 5rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.our-coffee__logo {
  width: 20rem;
  height: 20rem;
  opacity: 0.7; }

.our-coffee .heading-secondary {
  opacity: 0.9; }

.composition {
  margin: 5rem 0;
  display: flex;
  align-items: flex-end;
  justify-content: center; }
  .composition__img--1 {
    width: 40rem;
    height: auto;
    margin: 0 4rem; }
  .composition__img--2 {
    height: 40rem;
    width: auto;
    margin: 0 4rem; }

.feature-box {
  padding: 15rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .feature-box__item {
    cursor: pointer;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-image: radial-gradient(rgba(238, 226, 206, 0.7), rgba(223, 208, 182, 0.6));
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5rem;
    box-shadow: 0 0 6rem 2rem rgba(0, 0, 0, 0.2);
    position: relative;
    transition: transform 0.3s; }
    .feature-box__item:hover {
      animation: pulsate 3s infinite; }
    .feature-box__item--first {
      animation: pulsate 4s infinite; }
    .feature-box__item--first::before {
      content: 'Click me!';
      font-family: 'Kaushan Script', cursive;
      width: 150%;
      height: auto;
      position: absolute;
      top: -6rem;
      left: -3rem;
      z-index: 100;
      font-size: 3rem;
      color: white;
      transform: rotate(-15deg); }
  .feature-box__icon {
    width: 5rem;
    height: 5rem;
    fill: #faf9f9; }

.menu__coffee {
  display: flex;
  justify-content: center;
  color: #512d1f;
  position: relative; }

.menu__list {
  margin: 5rem 10rem; }
  .menu__list::before {
    content: 'CZARNA';
    font-size: 8rem;
    font-weight: 100;
    transform: rotate(-90deg);
    position: absolute;
    left: 0;
    top: 25%;
    opacity: 0.1; }
  .menu__list::after {
    content: 'BIAÅA';
    font-size: 8rem;
    font-weight: 100;
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    top: 25%;
    opacity: 0.1; }

.menu__price {
  font-size: 3rem;
  display: flex;
  margin: 1rem 0 1rem 5rem; }

.menu__item {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0; }
  .menu__item:not(:last-child) {
    border-bottom: dotted rgba(124, 76, 42, 0.2) 2px; }
  .menu__item--name {
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 2.5rem; }
  .menu__item--note {
    color: #7c4c2a;
    font-size: 2rem;
    font-weight: 300; }

.menu__box {
  display: flex;
  flex-direction: column; }

.section-menu-cake .menu__item--note {
  color: #dfd0b6;
  filter: brightness(70%); }

.localization {
  display: flex;
  flex-direction: column; }
  .localization__box {
    display: flex;
    justify-content: center;
    padding: 4rem; }
  .localization__photo {
    margin: 0 3rem;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
    transition: all 0.3s;
    position: relative; }
    .localization__photo:hover .localization__map--icon-2 {
      visibility: visible;
      opacity: 1; }
    .localization__photo:hover > .localization__img {
      filter: brightness(70%); }
  .localization__img {
    width: 100rem;
    height: auto;
    transition: all 0.5s;
    display: block; }
  .localization__paragraph {
    color: #7c4c2a;
    font-size: 4rem;
    font-weight: 300;
    margin: 4rem;
    display: flex;
    justify-content: center; }
  .localization__map {
    position: relative;
    margin: 0 5rem;
    flex: 0 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.1); }
    .localization__map:hover > .localization__map--text {
      transform: translateY(-50vh);
      opacity: 0; }
    .localization__map:hover > .localization__map--icon-1 {
      transform: translateY(50vh);
      opacity: 0; }
    .localization__map:hover > .localization__map--icon-2 {
      visibility: visible;
      opacity: 1; }
    .localization__map:hover::before {
      filter: blur(0) brightness(80%);
      cursor: pointer; }
    .localization__map::before {
      background-image: url(../img/map.jpg);
      background-size: cover;
      background-position: bottom;
      filter: blur(3px);
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: ease-in-out all 0.3s; }
    .localization__map--icon-1 {
      position: relative;
      top: 0;
      left: 0;
      fill: #512d1f;
      transition: all 0.4s; }
    .localization__map--icon-2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 5;
      fill: #ffffff;
      visibility: hidden;
      opacity: 0;
      transition: 0.5s;
      cursor: pointer; }
    .localization__map--text {
      position: relative;
      font-size: 5rem;
      font-weight: 700;
      color: #7c4c2a;
      transition: ease-out all 0.5s;
      overflow: hidden; }

.booking {
  display: flex;
  justify-content: center; }

.form__select {
  font-size: 1.5rem;
  padding: 1.5rem;
  background-color: transparent;
  font-family: inherit;
  border: none;
  color: #faf9f9;
  display: block;
  transition: 0.3s all;
  margin: 6rem;
  border: #dfd0b6 1px solid;
  border-radius: 10px;
  width: 20rem;
  letter-spacing: 1px; }
  .form__select:focus {
    outline: none;
    color: #eee2ce;
    transform: translateY(-1px);
    font-size: 1.6rem; }

.header {
  height: 80vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(to bottom, rgba(81, 45, 31, 0.7), rgba(124, 76, 42, 0.6)), url(https://cdn.website.dish.co/media/c3/cf/828238/Coffee-City-27983512-683420318668760-5376203394461977088-o.jpg);
  background-size: cover;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 85%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 100%, 50% 90%, 0 100%, 0 0); }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); }

.footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-70%);
  z-index: 15;
  color: #ccc;
  text-transform: uppercase;
  margin: 2rem;
  font-size: 2rem;
  font-weight: 300; }

.section-our-coffee {
  background-image: linear-gradient(to bottom, rgba(204, 204, 204, 0.6), #faf9f9);
  margin-top: -10vh;
  padding-bottom: 25rem; }

.section-features {
  -webkit-clip-path: polygon(100% 10vh, 100% 100%, 0 100%, 0 10vh, 50% 0);
  clip-path: polygon(100% 10vh, 100% 100%, 50% 85%, 0 100%, 0 10vh, 50% 0);
  margin-top: -15vh;
  padding-bottom: 15rem;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(to bottom, rgba(124, 76, 42, 0.3), rgba(81, 45, 31, 0.3)), url(../img/sample-4.jpg);
  background-size: cover;
  background-position: center; }

.section-menu-coffee {
  background-image: linear-gradient(to bottom, rgba(204, 204, 204, 0.6), #faf9f9);
  margin-top: -15vh;
  padding: 20rem 0 30rem; }

.section-menu-cake {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), linear-gradient(to bottom, rgba(124, 76, 42, 0.9), rgba(81, 45, 31, 0.8)), url(../img/sample-1.jpg);
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(100% 10vh, 100% 100%, 0 100%, 0 10vh, 50% 0);
  clip-path: polygon(100% 10vh, 100% 100%, 50% 85%, 0 100%, 0 10vh, 50% 0);
  margin-top: -15vh;
  padding: 10rem 20rem 30rem; }

.section-about {
  background-image: linear-gradient(to bottom, rgba(204, 204, 204, 0.6), #faf9f9);
  margin-top: -15vh;
  padding: 15rem 0 30rem; }

.section-booking {
  height: 60vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), linear-gradient(to bottom, rgba(124, 76, 42, 0.5), rgba(81, 45, 31, 0.4)), url(../img/sample-2.jpg);
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(100% 10vh, 100% 100%, 0 100%, 0 10vh, 50% 0);
  clip-path: polygon(100% 10vh, 100% 100%, 0 100%, 0 10vh, 50% 0);
  margin-top: -15vh;
  padding: 10rem 20rem 30rem;
  position: relative; }
