.localization {
  display: flex;
  flex-direction: column;

  &__box {
    display: flex;
    justify-content: center;
    padding: 4rem;
  }

  &__photo {
    margin: 0 3rem;
    flex-basis: 70%;
    height: 50rem;
    max-width: 800px;

    box-shadow: 0 2rem 6rem rgba($color: #000000, $alpha: 0.15);
    transition: all 0.3s;
    position: relative;

    &:hover .localization__map--icon-2 {
      visibility: visible;
      opacity: 1;
    }
    &:hover > .localization__img {
      filter: brightness(70%);
    }

    @include respond(tab-port) {
      display: none;
    }
  }
  &__img {
    background-image: url(https://scontent.fktw1-1.fna.fbcdn.net/v/t31.0-8/30420701_731643797179745_4974108034297925655_o.jpg?_nc_cat=100&_nc_sid=dd9801&_nc_ohc=l2o7gTPqiO0AX8Ty0S0&_nc_ht=scontent.fktw1-1.fna&oh=65a47c93c7b3bd4f3f9975f49d7734df&oe=5E919E39);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  &__paragraph {
    color: $color-primary;
    font-size: 4rem;
    font-weight: 300;
    margin: 4rem;
    text-align: center;

    @include respond(phone) {
      margin: 4rem 2rem;
      font-size: 3rem;
    }
  }

  &__map {
    position: relative;
    margin: 0 5rem;
    flex: 0 0 20%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 2rem 6rem rgba($color: #000000, $alpha: 0.1);

    @include respond(tab-port) {
      height: 400px;
      flex: 0 0 40%;
    }
    @include respond(phone) {
      flex: 0 0 100%;
    }

    &:hover > &--text {
      transform: translateY(-50vh);
      opacity: 0;
    }
    &:hover > &--icon-1 {
      transform: translateY(50vh);
      opacity: 0;
    }
    &:hover > &--icon-2 {
      visibility: visible;
      opacity: 1;
    }
    &:hover::before {
      filter: blur(0) brightness(80%);
      cursor: pointer;
    }

    &::before {
      background-image: url(../img/l-map.jpg);
      background-size: cover;
      background-position: bottom;
      filter: blur(3px);
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: ease-in-out all 0.3s;
    }

    &--icon-1 {
      position: relative;
      top: 0;
      left: 0;
      fill: $color-primary-dark;
      transition: all 0.4s;
    }
    &--icon-2 {
      @include centering;
      z-index: 5;
      fill: #ffffff;
      visibility: hidden;
      opacity: 0;
      transition: 0.5s;
      cursor: pointer;
    }

    &--text {
      position: relative;
      font-size: 4rem;
      font-weight: 700;
      color: $color-primary;
      transition: ease-out all 0.5s;
      overflow: hidden;
    }
  }
}
