.composition {
  margin: 5rem 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  &__img--1 {
    width: 40rem;
    height: auto;
    margin: 0 4rem;
  }

  &__img--2 {
    height: 40rem;
    width: auto;
    margin: 0 4rem;
  }
}
