.feature-box {
  &__item {
    cursor: pointer;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-image: radial-gradient(
      rgba($color-beige, 0.7),
      rgba($color-beige-dark, 0.6)
    );
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5rem;
    box-shadow: 0 0 6rem 2rem rgba($color: #000000, $alpha: 0.2);
    position: relative;
    transition: transform 0.3s;

    &:hover {
      animation: pulsate 3s infinite;
    }

    &--first {
      animation: pulsate 4s infinite;
    }

    &--first::before {
      content: 'Click me!';
      font-family: 'Kaushan Script', cursive;
      width: 150%;
      height: auto;

      position: absolute;
      top: -6rem;
      left: -3rem;
      z-index: 100;
      font-size: 3rem;
      color: white;
      transform: rotate(-15deg);
    }
    // &--first::after {
    //   position: relative;
    //   top: -3rem;
    //   left: 3rem;
    //   z-index: 100;
    //   content: '';
    //   display: inline-block;
    //   height: 3rem;
    //   width: 3rem;

    //   background-image: none;
    //   background-color: white;
    //   -webkit-mask-image: url(../img/curved-arrow.svg);
    //   -webkit-mask-size: cover;
    //   mask-image: url(../img/curved-arrow.svg);
    //   mask-size: cover;
    // }
  }

  &__icon {
    width: 5rem;
    height: 5rem;
    fill: $color-grey-light-1;
  }
}
