body {
  font-family: 'Lato';
  font-weight: 400;
  font-size: 1.6rem;
  color: $color-beige;
  line-height: 1.7;
}

.heading-primary {
  color: $color-grey-light-1;
  font-family: 'Kaushan Script', cursive;
  display: flex;
  flex-direction: column;

  margin: 4rem;

  &--main {
    font-size: 10rem;
    text-transform: uppercase;
  }

  &--sub {
    font-size: 5rem;
    text-align: right;
  }
}

.heading-secondary {
  display: flex;
  flex-direction: column;

  & strong {
    color: $color-primary;
    font-weight: 400;
  }

  &--main {
    color: $color-primary-dark;
    text-align: center;
    margin: 1rem;
    font-size: 7rem;
    font-weight: 700;
  }

  &--sub {
    color: $color-primary-dark;
    text-align: center;
    margin: 3rem 20rem;
    font-size: 3rem;
    font-weight: 300;

    &-big {
      color: $color-primary-dark;
      font-size: 5rem;
      font-weight: 400;
      text-align: center;
    }
  }
}
.heading-tertiary {
  display: flex;
  flex-direction: column;
  color: $color-beige;

  &--main {
    margin: 4rem;
    font-size: 7rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }

  &--sub {
    margin: 0 10rem;
    font-size: 3rem;
    font-weight: 300;
    text-align: center;

    &-big {
      font-size: 5rem;
      font-weight: 300;
      text-align: center;
    }
  }
}
