body {
  font-family: 'Lato';
  font-weight: 400;
  font-size: 1.6rem;
  color: $color-beige;
  line-height: 1.7;
}

.heading-primary {
  color: $color-grey-light-1;
  font-family: 'Kaushan Script', cursive;
  display: flex;
  flex-direction: column;

  &--main {
    font-size: 10rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.25;

    @include respond(phone) {
      font-size: 8rem;
      margin: 2rem 0;
    }
  }

  &--sub {
    font-size: 5rem;
    text-align: right;

    @include respond(phone) {
      font-size: 2.5rem;
      font-family: 'Lato';
      font-weight: 100;
      text-transform: uppercase;
    }

    @media only screen and (max-width: 350px) {
      display: none;
    }
  }
}

.heading-secondary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;

  & strong {
    color: $color-primary;
    font-weight: 400;
  }

  &--main {
    color: $color-primary-dark;
    text-align: center;
    margin: 1rem;
    font-size: 7rem;
    font-weight: 700;

    @include respond(tab-port) {
      font-size: 6rem;
    }
    @include respond(phone) {
      font-size: 5rem;
    }
  }

  &--sub {
    color: $color-primary-dark;
    text-align: center;
    margin: 3rem 20rem;
    font-size: 3rem;
    font-weight: 300;
    max-width: 2000px;
    align-self: center;

    @include respond(tab-land) {
      margin: 3rem 10rem;
    }

    @include respond(tab-port) {
      margin: 3rem;
      font-size: 2.5rem;
    }

    &-big {
      color: $color-primary-dark;
      font-size: 5rem;
      font-weight: 400;
      text-align: center;
    }
  }
}
.heading-tertiary {
  display: flex;
  flex-direction: column;
  color: $color-beige;
  text-align: center;

  &--main {
    margin: 4rem;
    font-size: 7rem;
    font-weight: 700;
    text-transform: uppercase;

    @include respond(tab-port) {
      font-size: 6rem;
    }
    @include respond(phone) {
      font-size: 5rem;
      margin: 2rem;
    }
  }

  &--sub {
    margin: 0 10rem;
    font-size: 3rem;
    font-weight: 300;
    max-width: 1800px;
    align-self: center;

    @include respond(tab-land) {
      margin: 0 3rem;
    }
    @include respond(tab-port) {
      font-size: 2.5rem;
    }

    &-big {
      font-size: 5rem;
      font-weight: 300;
      text-align: center;

      @include respond(tab-land) {
        margin: 0 3rem;
      }

      @include respond(tab-port) {
        margin: 0 3rem;
        font-size: 4rem;
      }

      @include respond(phone) {
        margin: 0 3rem;
        font-size: 3rem;
      }
    }
  }
}
