.section-our-coffee {
  background-image: linear-gradient(
    to bottom,
    rgba($color-grey-light-2, 0.6),
    rgba($color-grey-light-1, 1)
  );

  margin-top: -10vh;
  padding-bottom: 25rem;
}

.section-features {
  -webkit-clip-path: polygon(100% 15vh, 100% 100%, 0 85vh, 0 0, 50% 0);
  clip-path: polygon(100% 15%, 100% 100%, 0 100%, 0 15%, 50% 0);
  margin-top: -15vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.15)
    ),
    linear-gradient(
      to bottom,
      rgba($color-primary, 0.3),
      rgba($color-primary-dark, 0.3)
    ),
    url(../img/sample-4.jpg);
  background-size: cover;
  background-position: center;
}
