.section-our-coffee {
  background-image: linear-gradient(
    to bottom,
    rgba($color-grey-light-2, 0.6),
    rgba($color-grey-light-1, 1)
  );

  margin-top: -10vh;
  padding-bottom: 25rem;
}

.section-features {
  -webkit-clip-path: polygon(100% 10vh, 100% 100%, 0 100%, 0 10vh, 50% 0);
  clip-path: polygon(100% 10vh, 100% 100%, 50% 85%, 0 100%, 0 10vh, 50% 0);
  margin-top: -15vh;
  padding-bottom: 15rem;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.15)
    ),
    linear-gradient(
      to bottom,
      rgba($color-primary, 0.3),
      rgba($color-primary-dark, 0.3)
    ),
    url(../img/sample-4.jpg);
  background-size: cover;
  background-position: center;
}

.section-menu-coffee {
  background-image: linear-gradient(
    to bottom,
    rgba($color-grey-light-2, 0.6),
    rgba($color-grey-light-1, 1)
  );

  margin-top: -15vh;
  padding: 20rem 0 30rem;
}

.section-menu-cake {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.1)
    ),
    linear-gradient(
      to bottom,
      rgba($color-primary, 0.9),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/sample-1.jpg);

  background-size: cover;
  background-position: center;

  -webkit-clip-path: polygon(100% 10vh, 100% 100%, 0 100%, 0 10vh, 50% 0);
  clip-path: polygon(100% 10vh, 100% 100%, 50% 85%, 0 100%, 0 10vh, 50% 0);
  margin-top: -15vh;
  padding: 10rem 20rem 30rem;
}

.section-about {
  background-image: linear-gradient(
    to bottom,
    rgba($color-grey-light-2, 0.6),
    rgba($color-grey-light-1, 1)
  );

  margin-top: -15vh;
  padding: 15rem 0 30rem;
}
.section-booking {
  height: 85vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(
      to bottom,
      rgba($color-primary, 0.5),
      rgba($color-primary-dark, 0.2)
    ),
    url(../img/sample-2.jpg);

  background-size: cover;
  background-position: center;

  -webkit-clip-path: polygon(100% 10vh, 100% 100%, 0 100%, 0 10vh, 50% 0);
  clip-path: polygon(100% 10vh, 100% 100%, 0 100%, 0 10vh, 50% 0);
  margin-top: -15vh;
  padding: 10rem 20rem 30rem;
}
