.section-our-coffee {
  background-image: linear-gradient(
    to bottom,
    rgba($color-grey-light-2, 0.6),
    rgba($color-grey-light-1, 1)
  );

  margin-top: -10vh;
  padding: 10rem 0 30rem;

  @include respond(shape) {
    margin-top: -5rem;
  }

  @include respond(phone) {
    padding: 10rem 0 20rem;
  }
}

.section-features {
  -webkit-clip-path: polygon(100% 10vh, 100% 100%, 0 100%, 0 10vh, 50% 0);
  clip-path: polygon(100% 10vh, 100% 100%, 50% 85%, 0 100%, 0 10vh, 50% 0);
  margin-top: -15vh;
  padding-bottom: 15rem;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.15)
    ),
    linear-gradient(
      to bottom,
      rgba($color-primary, 0.3),
      rgba($color-primary-dark, 0.3)
    ),
    url(../img/sample-4.jpg);
  background-size: cover;
  background-position: center;

  padding: 20rem 10rem 35rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @include respond(shape) {
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
  }
  @include respond(tab-port) {
  }
  @include respond(phone) {
    padding: 10rem 0;
  }
}

.section-menu-coffee {
  background-image: linear-gradient(
    to bottom,
    rgba($color-grey-light-2, 0.6),
    rgba($color-grey-light-1, 1)
  );

  margin-top: -15vh;
  padding: 20rem 0 30rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  @include respond(shape) {
    margin: 0;
    padding: 10rem 0 30rem;
  }
}

.section-menu-cake {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.1)
    ),
    linear-gradient(
      to bottom,
      rgba($color-primary, 0.7),
      rgba($color-primary-dark, 0.5)
    ),
    url(../img/sample-1.jpg);

  background-size: cover;
  background-position: center;

  -webkit-clip-path: polygon(100% 10vh, 100% 100%, 0 100%, 0 10vh, 50% 0);
  clip-path: polygon(100% 10vh, 100% 100%, 50% 85%, 0 100%, 0 10vh, 50% 0);
  margin-top: -15vh;
  padding: 10rem 2rem 30rem;

  display: flex;
  flex-direction: column;

  @include respond(tab-port) {
    padding: 10rem 5rem;
  }

  @include respond(shape) {
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
  }

  @include respond(phone) {
    padding: 7rem 0;
  }
}

.section-about {
  background-image: linear-gradient(
    to bottom,
    rgba($color-grey-light-2, 0.6),
    rgba($color-grey-light-1, 1)
  );

  margin-top: -15vh;
  padding: 15rem 0 30rem;

  @include respond(shape) {
    margin-top: 0;
    padding: 10rem 0 30rem;
  }
}
.section-booking {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(
      to bottom,
      rgba($color-primary, 0.5),
      rgba($color-primary-dark, 0.4)
    ),
    url(../img/sample-2.jpg);

  background-size: cover;
  background-position: center;

  -webkit-clip-path: polygon(100% 10vh, 100% 100%, 0 100%, 0 10vh, 50% 0);
  clip-path: polygon(100% 10vh, 100% 100%, 0 100%, 0 10vh, 50% 0);
  margin-top: -15vh;
  padding: 15rem 15rem 30rem;
  position: relative;

  @include respond(tab-port) {
    padding: 10rem 5rem;
  }
  @include respond(shape) {
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
  }
  @include respond(phone) {
    padding: 10rem 2rem;
  }
}
